:root {
   
    --col_bg: #F8F8FF;
    --col_nav1: rgba(0,0,0,1);
    --col_nav2: rgba(0,0,0,0);
    --col_font: #000000;
}

.dark-mode {
    --col_bg: #1b1b1b;
    --col_font: #FFFFFF;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: var(--col_bg);
    color: var(--col_font);
}

.navbar {
    overflow: hidden;
    background: linear-gradient(180deg, var(--col_nav1), var(--col_nav2));
    position: fixed;
    top: 0px;
    width: 100%;
    border: 1px solid yellow;
}

.navbar ul {
    padding: 16px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid black;
}

.navbar ul li {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid red;

}

.navbar li:hover {
    background: #ddd;
    color: black;
  }

.main {
    margin-top: 128px;
    /* width: 75%; */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black; 
}

.header {
    border: 1px solid red; 
    text-align: center;
}
  
.main hr {
    margin-left: 0;
    margin-right: 0;
}

.content {
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}